use flake

# use flake ".#${FOLDER_NAME}" $( \
#   if [[ -n "$REPLIT_ENVIRONMENT" ]]; then \
#     echo "--override-input nixpkgs nixpkgs/a9b47d85504bdd199e90846622c76aa0bfeabfac --override-input haedosa nixpkgs/a9b47d85504bdd199e90846622c76aa0bfeabfac"; \
#   fi \
# )

#if [[ ! -d nixpkgs ]]; then ./make_custom_nixpkgs.sh; fi;
#use flake .# "--override-input" "nixpkgs" "git+file:./nixpkgs?shallow=1" "--override-input" "haedosa" "git+file:./nixpkgs?shallow=1"

#if [[ ! $STARTUP == 1 ]]; then
#  cabal repl fp-course
#  export STARTUP=1
#fi;
