if [[ -n "$REPLIT_ENVIRONMENT" ]]; then

  use flake .# "--override-input" "nixpkgs" "nixpkgs/52e3e80afff4b16ccb7c52e9f0f5220552f03d04" "--override-input" "haedosa" "nixpkgs/52e3e80afff4b16ccb7c52e9f0f5220552f03d04"

  #if [[ ! -d nixpkgs ]]; then ./make_custom_nixpkgs.sh; fi;
  #use flake .# "--override-input" "nixpkgs" "git+file:./nixpkgs?shallow=1" "--override-input" "haedosa" "git+file:./nixpkgs?shallow=1"

  #if [[ ! $STARTUP == 1 ]]; then
  #  cabal repl fp-course
  #  export STARTUP=1
  #fi;

elif [[ -n "$NIX_PATH" ]]; then
  use flake .#
else
  echo "Unknown OS";
fi;
