FOLDER_NAME=$(basename "$PWD")
FOLDER_NAME_REPLIT=${FOLDER_NAME}$(if [[ -n "$REPLIT_ENVIRONMENT" ]]; then echo "-replit"; fi)
if [[ ! "${FOLDER_NAME}" == "haskell-onboarding" ]]; then
use flake ".#${FOLDER_NAME_REPLIT}" --show-trace -Lv;
fi
