run = "bash --init-file <(echo \". ~/.bashrc; pushd exercism/haskell; eval '$(direnv hook bash)'; direnv deny;\")"
# In Shell:
# eval "$(direnv hook bash)"

hidden = [".ghci", "ghci_wrapper.sh"]

[nix]
channel = "stable-24_05"

[languages.haskell]
pattern = "**/*.hs"

[languages.haskell.languageServer]
start = ["haskell-language-server-wrapper", "--lsp"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".ghci"]
