run = "./run_exercism.sh"

#run = ". ~/.bashrc && bash"

hidden = [
  ".config",
  ".direnv",
  ".git",
  ".nix",
  ".envrc",
  ".ghci",
  "ghci_wrapper.sh",
  ".gitignore",
  ".pre-commit-config.yaml",
  "make_custom_nixpkgs.sh",
]

[nix]
channel = "stable-24_05"

[languages.haskell]
pattern = "**/*.hs"

[languages.haskell.languageServer]
start = ["haskell-language-server-wrapper", "--lsp"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]
